[user]
	name = Sergio Sierra
	email = sdmunozsierra@miners.utep.edu
	signingkey = 8B7EB78DF340DB63
[core]
	editor = vim
[credential]
	helper = libsecret
[gpg]
	program = gpg2
[alias]
	unstage = reset HEAD --
    st = status
    co = checkout
    con = !"f(){ git-checkout-issue $1 $2; }; f"
    br = branch
    aa = add .
	comm = commit -S -m
    comn = !"f() { message=\"#$(git rev-parse --abbrev-ref HEAD | cut -d \"-\" -f1): $1\"; git commit -S -m \"$message\"; }; f"
    last = log -1 HEAD
    recomm = reset --soft HEAD~1
    uncommit = reset --soft HEAD~1

# If having network problems i.e. behind firewall enable:
;[url "ssh://aur@aur.archlinux.org/"]
    ;insteadOf = https://aur.archlinux.org/
    ;insteadOf = http://aur.archlinux.org/
    ;insteadOf = git://aur.archlinux.org/

;[url "https://github.com/"]
    ;insteadOf = git@github.com/
;[url "https://"]
    ;insteadOf = git://
