[user]
	name = Sergio David Munoz
	email = sdmunozsierra@miners.utep.edu
	signingkey = 257CA5163D8B70F1
[core]
	editor = vim
[credential]
    # Remember to use SSH
    helper = seahorse
[gpg]
	program = gpg2
[alias]
	unstage = reset HEAD --
    st = status
    co = checkout
    con = !"f(){ git-checkout-issue $1 $2; }; f"
    conn = !"f(){ git-checkout-issue-clickup $1 $2 $3; }; f"
    br = branch
    aa = add .
	comm = commit -S -m
    comn = !"f() { message=\"$(git rev-parse --abbrev-ref HEAD | cut -d '#' -f2 | cut -d '/' -f2): $1\"; git commit -S -m \"$message\"; }; f"
    auto = !"f(){ auto-commit $1; }; f"
	last = log -1 HEAD
    recomm = reset --soft HEAD~1
    uncommit = reset --soft HEAD~1
    delete = !git stash && git drop ;:
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# If having network problems i.e. behind firewall enable:
;[url "ssh://aur@aur.archlinux.org/"]
    ;insteadOf = https://aur.archlinux.org/
    ;insteadOf = http://aur.archlinux.org/
    ;insteadOf = git://aur.archlinux.org/

;[url "https://github.com/"]
    ;insteadOf = git@github.com/
;[url "https://"]
    ;insteadOf = git://
